@charset "UTF-8";
/* src/ham_asset/css/ham_mypage_ranking.css */

/* .ham_wrap .hmk_rank_main */

/******************** 배너 스타일 wrap 외부 ********************/
.hmk_rank_page .hmk_rank_title_banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-position: center;
    opacity: 0.9;
    color: white;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000;
    font-size: 2rem;
    padding: 0 20px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hmk_rank_page .hmk_rank_title_banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* 배너 제목 스타일 */
.hmk_rank_page .hmk_rank_title_banner h2 {
    color: #FFD700;
    font-size: 36px;
    font-weight: 700;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000;
    letter-spacing: 2px;
    transition: font-size 0.3s ease;
}

/* 배너 움직이는 텍스트 컨테이너 */
@keyframes moveText {
    0% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(-150%);
    }
}

/* 텍스트 모션 */
.hmk_rank_page .hmk_rank_title_banner .hmk_rank_moving_text {
    display: flex;
    align-items: center;
    animation: moveText 20s linear infinite;
    /* 무한 루프 애니메이션 */
    white-space: nowrap;
    /* 텍스트가 한 줄에 유지되도록 설정 */
}

/* 배너 전후 gif 크기 */
.hmk_rank_title_banner .hmk_rank_moving_text .hmk_rank_banner_icon {
    width: 80px;
    height: 80px;
    margin: 0 20px;
    vertical-align: middle;
}

/* 배너 순위메달 스타일 */
.hmk_rank_title_banner .hmk_rank_moving_text span {
    display: inline-flex;
    align-items: center;
    margin-left: 30px;
    font-size: 2rem;
}

/* 배너 프로필 스타일 */
.hmk_rank_title_banner .hmk_rank_moving_text .hmk_rank_banner_prof {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 5px 10px;
    padding-top: 5px;
}

/******************** (/배너 스타일 wrap 외부) ********************/

.hmk_rank_main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    filter: blur(5px);
    opacity: 0.8;
    /* 이미지 투명도 설정 */
    z-index: -1;
    /* 배경이 뒤에 위치하도록 설정 */
}

/********************* 화면 중앙 포디엄 스타일 *********************/
/* 메인 1차 포장 */
.hmk_rank_main {
    width: 75vw;
    margin: 0 auto;
    padding: 40px 0;
}

/* 화면 중앙 상단 전체 틀 */
/* 배경 이미지 추가 및 블러 효과 */
.hmk_rank_main .hmk_rank_head {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 40px;
    align-items: center;
    backdrop-filter: blur(2px);
    /* 블러 효과 */
}

.hmk_rank_main .hmk_rank_head::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 75vw;
    height: 100%;
    /* 블러 처리된 배경 이미지 경로 */
    background-size: cover;
    filter: blur(2px);
    /* 배경 이미지 블러 효과 */
    opacity: 1;
    /* 배경 이미지 투명도 조절 */
    z-index: -1;
    /* 컨텐츠 뒤에 배치 */
}

/* 포디엄 상단 그래픽 이펙트 */
.hmk_rank_head_container {
    display: flex;
    margin-bottom: -150px;
    margin-top: -150px;
}

/* 화면 중앙 포디엄 카드 프레임 */
.hmk_ranker_podiumframe {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 화면 중앙 포디엄 카드 공통 */
.hmk_ranker_podiumframe 
.hmk_rank_podium {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1px;

}

/* 포디엄 카드 스타일 */
.hmk_ranker_podiumframe 
.hmk_rank_podium 
.hmk_podium_rank {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 20px 0 20px;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    align-items: center;
}

.hmk_rank_podium .hmk_rank1 {
    background: linear-gradient(to bottom, #ffffff, #FFD700);
    /* 배경 그라데이션 */
    border-radius: 5px;
    opacity: 0.9;
}

.hmk_rank_podium .hmk_rank2 {
    background: linear-gradient(to bottom, #ffffff, #C0C0C0);
    /* 배경 그라데이션 */
    border-radius: 5px;
    opacity: 0.9;
}

.hmk_rank_podium .hmk_rank3 {
    background: linear-gradient(to bottom, #ffffff, #CD7F32);
    /* 배경 그라데이션 */
    border-radius: 5px;
    opacity: 0.9;
}

.hmk_podium_rank:hover {
    transform: scale(1.05) translateY(-10px);
    /* 1.1배로 확대 */
}

/* 포디엄 카드 내 프로필 이미지 테두리 */
.hmk_podium_rank .hmk_podium_profile {
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 25px;
}
.hmk_gold_frame {
    width: 160px; /* 프레임 크기 */
    height: 188px;
    top: -45px;
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}
.hmk_silver_frame {
    width: 123px; 
    height: 145px;
    top: -20px;
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.hmk_bronze_frame {
    width: 135px; 
    height: 135px;
    top:-15px;
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}


/* 포디엄 카드 내 프로필 이미지 스타일 */
.hmk_podium_profile .hmk_ranker_profile_no1 {
    padding-top: 68px; /* 프레임 안에 프로필 넣는 위치 */
    padding-left: 8px ;
    width: 95px; /* 이미지 크기 */
    height: 95px;
    border-radius: 50%;
    margin-bottom: 60px;
    /* 프로필과 메달 사이의 간격 */
    z-index: -1;
}


.hmk_podium_profile .hmk_ranker_profile_no2 {
    padding-top: 40px; /* 프레임 안에 프로필 넣는 위치 */
    padding-left: 6px ;
    width: 90px; /* 이미지 크기 */
    height: 90px;
    border-radius: 50%;
    margin-bottom: 30px;
    /* 이미지와 텍스트 사이의 간격 */
    z-index: -1;
}

.hmk_podium_profile .hmk_ranker_profile_no3 {
    padding-top: 33px; /* 프레임 안에 프로필 넣는 위치 */
    padding-left: 5px ;
    width: 85px; /* 이미지 크기 */
    height: 85px;
    border-radius: 50%;
    margin-bottom: 25px;
    /* 이미지와 텍스트 사이의 간격 */
    z-index: -1;
}


/* 포디엄 카드 내 메달 스타일 */
.hmk_podium_medal {
    font-size: 40px;
}

/* 포디엄 카드 내 시상대와 닉네임 공통 스타일 */
.hmk_podium_rank .hmk_podium_base {
    text-align: center;
    padding: 15px 0;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    font-size: 30px;
}

/* 포디엄 카드 내 숫자 텍스트 스타일 */
.hmk_podium_base p:last-child {
    font-size: 1.2rem;
    font-weight: bold;
    color: #344767;
    margin-top: 5px;
}

/* 1등 시상대 스타일 */
.hmk_rank1 .hmk_podium_base {
    height: 250px;
    width: 250px;
    background-color: #FFD700;
    /* 금메달 색상 */
    background-size: 40%;
    background-position: bottom;
    background-repeat: no-repeat;
}

/* 2등 시상대 스타일 */
.hmk_rank2 .hmk_podium_base {
    height: 160px;
    width: 100%;
    background-color: #C0C0C0;
    /* 은메달 색상 */
    background-size: 30%;
    background-position: bottom;
    background-repeat: no-repeat;
}

/* 3등 시상대 스타일 */
.hmk_rank3 .hmk_podium_base {
    height: 140px;
    width: 100%;
    background-color: #CD7F32;
    /* 동메달 색상 */
    background-size: 30%;
    background-position: bottom;
    background-repeat: no-repeat;
}

/********************* /화면 중앙 포디엄 스타일 *********************/



/********************* 랭킹 테이블 스타일 *********************/
/* 랭킹 테이블 전체 포장*/
.hmk_rank_main .hmk_rank_body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hmk_rank_body {
    position: relative;
    width: 100%;
    padding: 20px;
    /* z-index: -1; */
    /* 콘텐츠가 배경 위에 위치하도록 설정 */

    /* 배경 흐림 및 투명도 효과 */
    backdrop-filter: blur(7px);
    background-color: rgba(255, 255, 255, 0.1);
    /* 배경에 흰색 반투명 덮개를 추가 */
}

/* 랭킹 리스트 테이블 공통 규격 */
.hmk_rank_my,
.hmk_rank_top10 {
    width: 90%;
    margin-top: 40px;
    text-align: center;
}

/* 랭킹 리스트 테이블 공통 규격2 */
.hmk_rank_my_rank,
.hmk_rank_list {
    width: 100%;
    table-layout: fixed;
    height: fit-content;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* 랭킹 리스트 테이블 헤더, 마이 랭킹 테이블 셀 규격  */
.hmk_rank_list th,
.hmk_rank_list td .hmk_rank_my_rank th,
.hmk_rank_my_rank tbody .hmk_rank_my_rank_number td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    height: fit-content;
}

/* 마이 랭킹 테이블 기본 설정*/
.hmk_rank_my_rank_number {
    background: linear-gradient(to top, #f4f4f4c7, #323232c2);
    /*테이블 색*/
    color: white;
    /*글자색*/

}

.hmk_rank_my_rank_number .hmk_rank_my_rank_nickname {
    font-size: 40px;
}

.hmk_rank_list th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

.hmk_rank_list td:first-child {
    font-size: 40px;
    font-weight: 100;
}

.hmk_rank_list td img,
.hmk_rank_my_rank td img {
    height: 50px;
    border-radius: 50%;
}

.hmk_rank_list tr:nth-child(even) {
    background-color: #f2f2f2;
}

.hmk_rank_list tr:hover {
    background-color: #e8f5e9;
}




.hmk_rank_list span, img{
    cursor: pointer;
}