/* 기존 jm- 클래스명 유지 */
.jm-room-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.yc-header-info {
    display: flex;
    flex-direction: column; /* 수직 정렬 */
    align-items: flex-start; /* 왼쪽 정렬 */
    flex: 1; /* 가능한 공간을 모두 차지 */
    margin-right: 20px; /* 버튼과의 간격 */
}
.jm-c-title {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    margin-block: 15px;
    
}

.jm-c-time {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
    color: #505355; 
    
}

/* 시작 버튼 */
.jm-c-start {
    flex-grow: 0; 
    flex-basis: auto;
    padding: 10px 20px;
    background-color: #5E91A7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.jm-c-start:hover {
    background-color: #383E47;
}

/* 방장용 버튼 색상 변경 */
.jm-room-header .jm-c-start.host {
    background-color: #28a745; /* 초록색 */
}

.jm-room-header .jm-c-start.host:hover {
    background-color: #218838;
}

/* 태그 박스 */
.jm-tags {
    margin-bottom: 30px;    
}

.jm-tag-box {
    border: none;
    border-radius: 4px;
    padding: 2px 5px;
    margin-right: 6px;
    font-size: 14px;
    color: rgb(157, 156, 156);
}

.yc-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    animation: modalFadeIn 0.3s forwards; /* 모달 페이드 인 애니메이션 */
}
@keyframes modalFadeIn {
    to {
        opacity: 1;
    }
}

.yc-modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: modalScaleIn 0.3s forwards; /* 모달 스케일 인 애니메이션 */

}
@keyframes modalScaleIn {
    to {
        transform: scale(1);
    }
}

.yc-modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.yc-modal-confirm,
.yc-modal-cancel {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.yc-modal-confirm {
    background-color: #497B91;
    color: white;
}

.yc-modal-confirm:hover {
    background-color: #497B91;
}

.yc-modal-cancel {
    background-color: #ccc;
    color: black;
}

.yc-modal-cancel:hover {
    background-color: #999;
}
