@charset "UTF-8";

/* 링크 */
.dy-link {
    color: black; 
    text-decoration: none; /* 밑줄 제거 */
}

.dy-link:visited {
    color: black; 
}

.dy-link:hover {
    text-decoration: none; /* 밑줄 제거 */
}


/* 푸터 크기 */
.dy-footer {
    width: 1400px;          /* 전체 화면 너비 */
    margin: 0 auto;         /* 중앙 정렬 */

    border: 1px solid black;
}


