@charset "UTF-8";

/* 링크 */
.dy-link {
    color: black; 
    text-decoration: none; /* 밑줄 제거 */
}

.dy-link:visited {
    color: black; 
}

.dy-link:hover {
    text-decoration: none; /* 밑줄 제거 */
}


/* 헤더 크기 */
.dy-header {
    width: 100%;          /* 전체 화면 너비 */
    height: 60px;
    margin: 0 auto;         /* 중앙 정렬 */
    border-bottom: 1px solid #d4d4d4;
}

.dy-header .dy-header-content {
    width: 75%;
    min-width: 1000px;
    height: 60px;
    margin: 0 auto;         /* 중앙 정렬 */
    display: flex;        /* flex 부모쪽 */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

/* 로고 */
.dy-header .dy-logo {
    margin-left: 10px;
    font-size: 18px;
}


/* 메뉴 */
.dy-header .dy-menu {
    width: 50%;
}

.dy-header .dy-menu ol {
    display: flex;        /* flex 부모쪽 */
    flex-direction: row;
    justify-content: space-between;
}

.dy-header .dy-menu ol>li {
    position: relative; /* 상대적 위치 설정 */
    /* overflow: hidden; 밑줄이 영역 밖으로 나가지 않도록 설정 */
}

.dy-header .dy-menu ol > li::after {
    content: '';  /* 가상 요소 생성 */
    position: absolute;
    bottom: -3px;  /* 밑줄이 li 요소의 아래쪽에 위치하도록 설정 */
    left: 0;
    width: 0;  /* 처음에는 너비가 0 */
    height: 1px;  /* 밑줄 두께 */
    background-color: #5E91A7;  /* 밑줄 색상 */
    transition: width 0.3s ease;  /* 너비가 0에서 100%로 변화하도록 애니메이션 */
}

.dy-header .dy-menu ol > li:hover::after {
    width: 100%;  /* 호버 시 너비가 100%로 변화 */
}


/* 로그인에 따라 달라지는 화면 */
.dy-header .dy-info {
    width: 230px;
}

/* 로그인전 */
.dy-header .dy-info .dy-beforelogin {
    display: flex;        /* flex 부모쪽 */
    flex-direction: row;
    justify-content: flex-end;
}

.dy-header .dy-info .dy-beforelogin>li {
    margin-right: 20px;
    position: relative; /* 상대적 위치 설정 */
}

.dy-header .dy-info .dy-beforelogin>li::after {
    content: '';  /* 가상 요소 생성 */
    position: absolute;
    bottom: -3px;  /* 밑줄이 li 요소의 아래쪽에 위치하도록 설정 */
    left: 0;
    width: 0;  /* 처음에는 너비가 0 */
    height: 1px;  /* 밑줄 두께 */
    background-color: #5E91A7;  /* 밑줄 색상 */
    transition: width 0.3s ease;  /* 너비가 0에서 100%로 변화하도록 애니메이션 */
}

.dy-header .dy-info .dy-beforelogin>li:hover::after {
    width: 100%;  /* 호버 시 너비가 100%로 변화 */
}



/* 로그인후 */
.dy-header .dy-info .dy-afterlogin {
    display: flex;        /* flex 부모쪽 */
    flex-direction: row;
    justify-content: flex-start;
}

/* 프로필 사진  */
.dy-header .dy-info .dy-afterlogin .dy-header-profile {
    width: 45px;
    height: 45px;
    border: 1px solid lightgray;
    border-radius: 5px;
    transition: transform 0.3s ease;  /* 확대 효과에 애니메이션 추가 */
}

/* 프로필 사진 호버 시 크기 확대 */
.dy-header .dy-info .dy-afterlogin .dy-header-profile:hover {
    transform: scale(1.1);  /* 1.1배로 확대 */
}

.dy-header .dy-info .dy-afterlogin .dy-header-login-info {
    display: flex;        /* flex 부모쪽 */
    flex-direction: column;

    width: 100%;
    height: 48px;
    margin-left: 7px;
}

/* 닉네임 */
.dy-header .dy-info .dy-afterlogin .dy-header-login-info .dy-header-nickname {
    font-size: 16px;
}

/* 닉네임 아래줄 모두 */
/* .dy-header .dy-info .dy-afterlogin .dy-header-login-info .dy-header-pointNlogout {

} */

.dy-afterlogin .dy-header-login-info .dy-header-pointNlogout .dy-header-point {
    float: left;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 3px;
}

/* 포인트 이미지 */
.dy-afterlogin .dy-header-login-info .dy-header-pointNlogout .dy-header-point img {
    width: 19px;
    height: 19px;
} 

/* 포인트 숫자 */
.dy-afterlogin .dy-header-login-info .dy-header-pointNlogout .dy-header-point span {
    margin-left: 5px;
    font-size: 15px;
}

/* 로그아웃 버튼 */
.dy-afterlogin .dy-header-login-info .dy-header-pointNlogout .dy-logout-btn {
    float: right;
    margin-top: 6px;
    font-size: 14px;
    border: none;
    background-color: white;

    position: relative;  /* ::after를 위한 상대적 위치 설정 */
}
.dy-afterlogin .dy-header-login-info .dy-header-pointNlogout .dy-logout-btn:hover {
    cursor: pointer;
}
.dy-afterlogin .dy-header-login-info .dy-header-pointNlogout .dy-logout-btn::after {
    content: '';  /* 가상 요소 생성 */
    position: absolute;
    bottom: -2px;  /* 밑줄을 버튼 아래쪽에 위치시킴 */
    left: 0;
    width: 0;  /* 처음에는 너비가 0 */
    height: 1px;  /* 밑줄 두께 */
    background-color: #5E91A7;  /* 밑줄 색상 */
    transition: width 0.3s ease;  /* 너비가 0에서 100%로 변화하도록 애니메이션 */
}

.dy-afterlogin .dy-header-login-info .dy-header-pointNlogout .dy-logout-btn:hover::after {
    width: 100%;  /* 호버 시 너비가 100%로 변화 */
}

