@charset "UTF-8";

/* 링크 */
.dy-link {
    color: black; 
    text-decoration: none; /* 밑줄 제거 */
}

.dy-link:visited {
    color: black; 
}

.dy-link:hover {
    text-decoration: none; /* 밑줄 제거 */
}

.wrap {
    margin: 0 auto;

}

/* 포인트 상점 메인 틀 */
.dy-pointstoredetail {
    width: 100%;
    margin: 0 auto;
    margin-top: 70px;

}

/* 제목 */
.dy-pointstoredetail .dy-pointstoredetailTitle {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

/* 제목빼고 전체 */
.dy-pointstoredetail .dy-detailContent {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;

    background-color: lightblue;
}

/* 사진 */
.dy-pointstoredetail .dy-detailContent .dy-pointstoredetail-pointproduct {
    width: 400px;
    height: 400px;
    margin: 0 80px;
    border: 1px solid black;
}

/* 사진빼고 왼쪽 모든 정보 */
.dy-pointstoredetail .dy-detailContent .dy-detailContent-left {
    background-color: aliceblue;
}

/* 상품명 */
.dy-detailContent .dy-detailContent-left .dy-product-name {
    font-size: 18px;
}

/* 포인트 가격 */
/* .dy-detailContent .dy-detailContent-left .dy-product-point {

} */

/* 본 상품은 환불불가 상품입니다. */
/* .dy-detailContent .dy-detailContent-left .dy-product-warning {

} */

/* 수량 글자 */
/* .dy-detailContent .dy-detailContent-left .dy-product-count {

} */

/* 수량 버튼 전체 */
.dy-detailContent .dy-detailContent-left .dy-counts {
    display: flex;
    align-items: center;

}

/* - + 버튼 */
.dy-detailContent-left .dy-counts .dy-minus-btn, .dy-plus-btn{
    width: 35px;
    height: 35px;
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
    display: flex;                /* 버튼을 flexbox로 설정 */
    justify-content: center;      /* 수평 중앙 정렬 */
    align-items: center;          /* 수직 중앙 정렬 */
    border: 1px solid black;;
    border-radius: 50%;
}

/* 수량의 숫자 */
.dy-detailContent-left .dy-counts .dy-count {
    font-size: 20px;
    margin: 0 30px;
}

/* 사용기간 설명 */
/* .dy-detailContent .dy-detailContent-left .dy-product-period {

} */

/* 발송방법 설명 */
/* .dy-detailContent .dy-detailContent-left .dy-product-check {

} */

/* 교환하기 버튼 */
/* .dy-detailContent .dy-detailContent-left .dy-change-btn {

} */


