@charset "UTF-8";

/* 링크 */
.dy-link {
    color: black; 
    text-decoration: none; /* 밑줄 제거 */
}

.dy-link:visited {
    color: black; 
}

.dy-link:hover {
    text-decoration: none; /* 밑줄 제거 */
}

.wrap {
    margin: 0 auto;

}

/* 포인트 상점 메인 틀 */
.dy-pointstoremain {
    width: 100%;
    margin: 0 auto;
    margin-top: 70px;

}

/* 제목 */
.dy-pointstoremain .dy-pointstoremainTitle {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

/* 출석하기 버튼 */
.dy-pointstoremain .dy-attendance {
    display: flex;
    justify-content: flex-end;
}

.dy-pointstoremain .dy-attendance-btn {
    width: 110px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    margin-right: 70px;
    margin-bottom: 50px;

    background-color: white;
    border: 1px solid black;
}

/* 세션마다 */
.dy-pointstoremain .dy-product-sections {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    
}

/* 세션 제목 */
.dy-pointstoremain .dy-product-sections .dy-product-header {
    font-size: 20px;
    margin-bottom: 20px;
}

/* 제목빼고 나머지 세션 */
.dy-pointstoremain .dy-product-sections .dy-product-section {
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    
}

/* 상품 하나하나 전체칸 (사진 + 정보)*/
.dy-pointstoremain .dy-product-info {
    display: flex;
    flex-direction: column;
    text-align: flex-start;

    border: 1px solid black;
}

/* 상품사진 */
.dy-pointstoremain .dy-product-info .dy-pointstore-pointproduct {
    width: 230px;
    height: 230px;

    margin-bottom: 10px;
}

/* 상품이름, 포인트 가격 */
.dy-pointstoremain .dy-product-info .dy-product-details {
    font-size: 15px;
}

/* 교환하기 버튼 */
.dy-pointstoremain .dy-product-info .dy-product-btn {
    margin-top: 10px;
    cursor: pointer;

    background-color: white;
    border: 1px solid black;
}


/**********************************************/
/* 상품 디테일 모달창 */
/**********************************************/
.dy-pointstoremain .dy-detailContent-modal {
    width: 46%;
    height: 300px;
    margin: 0 auto;
    padding: 20px 40px;

    border: 1px solid black;
}

/* 취소하기 버튼 */
.dy-detailContent-modal .dy-close {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.dy-detailContent-modal .dy-close .dy-close-btn {
    font-size: 27px;
    border: none;
    background-color: white;
    cursor: pointer;
    margin-bottom: 20px;
}

.dy-pointstoremain .dy-detailContent {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* 상품 상세 모달 사진 */
.dy-pointstoremain .dy-detailContent .dy-detailContent-pointproduct {
    width: 230px;
    height: 230px;
    margin-right: 30px;
}

/* 상품명 */
.dy-detailContent .dy-detailContent-left .dy-product-name {
    font-size: 23px;
}

/* 포인트 가격 */
.dy-detailContent .dy-detailContent-left .dy-product-point {
    font-size: 35px;
}

/* 본 상품은 환불불가 상품입니다. */
.dy-detailContent .dy-detailContent-left .dy-product-warning {
    font-size: 15px;
    margin: 10px 0;
}

/* 사용기간 설명 */
.dy-detailContent .dy-detailContent-left .dy-product-period {
    font-size: 17px;
}

/* 발송방법 설명 */
.dy-detailContent .dy-detailContent-left .dy-product-check {
    font-size: 17px;
    margin-bottom: 10px;
}

/* 교환하기 버튼 */
.dy-detailContent .dy-detailContent-left .dy-change-btn {
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
}


/**********************************************/
/* 포인트 교환 모달창 */
/**********************************************/
.dy-pointstoremain .dy-change-modal {
    width: 30%;
    height: 270px;
    margin: 0 auto;
    padding: 20px 40px;
    font-size: 17px;

    border: 1px solid black;
}

.dy-pointstoremain .dy-change-modal h3 {
    font-size: 27px;
    text-align: center;
    margin-bottom: 30px;
}

/* 취소 확인 버튼 */
.dy-pointstoremain .dy-change-modal .dy-two-btn {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 30px;

}

/* 취소 버튼 */
.dy-change-modal .dy-two-btn .dy-cancel-btn {
    flex-grow: 1;
    margin-right: 60px;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
}

/* 확인 버튼 */
.dy-change-modal .dy-two-btn .dy-ok-btn {
    flex-grow: 1;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
}


/**********************************************/
/* 교환 완료 모달창 */
/**********************************************/
.dy-pointstoremain .dy-end-modal {
    width: 30%;
    height: 270px;
    margin: 0 auto;
    padding: 20px 40px;
    font-size: 17px;

    border: 1px solid black;
}

.dy-pointstoremain .dy-end-modal h3 {
    font-size: 27px;
    text-align: center;
    margin-bottom: 30px;
}

/* 확인 버튼 */
.dy-end-modal .dy-one-btn {
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
}
.dy-end-modal .dy-one-btn .dy-end-btn {
    width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
}

/**********************************************/
/* 모달창 */
/**********************************************/
/* 모달 위치 잡아주기 */
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검정 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* 다른 요소 위에 표시 */
}
/* 모달 위치 잡아주기 */
.dy-pointstoremain .dy-detailContent-modal, .dy-change-modal, .dy-end-modal {
    width: 46%;
    height: 300px;
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1000; /* 배경 위에 표시 */
}

